.bg-img {
   background-image: url(./images/bg-pattern-1.svg), url(./images/bg-pattern-2.svg);
   background-repeat: no-repeat;
   background-position: left -15% top 30%, right -5% bottom 47%;
   width: 100%;
}

.bg-img-small {
   background-image: url(./images/bg-pattern-3.svg);
   background-repeat: no-repeat;
   background-position: right 10% bottom -50%;
   width: 100%;
   z-index: 3;
}

