// reset
@use "reset";
@use "header";

// project colors
$secondary-color: hsl(273, 85%, 13%);
$primary-color: hsl(150, 100%, 63%);
$dark-gray: #584062;
$light-gray: #fcf8ff;
$color-white: #fff;

// project font families
$font-family-heading: "Fraunces144", serif;
$font-family-body: "Manrope", sans-serif;

// project font sizes and line-heights
$base-font-size: 1.125rem; // You can adjust this for your preference

$heading-l-size: 5rem;
$heading-l-line-height: 5rem;

$heading-m-size: 3.5rem;
$heading-m-line-height: 4rem;

$heading-s-size: 2rem;
$heading-s-line-height: 2.5rem;

$body-font-size: $base-font-size;
$body-line-height: 2rem;
$header-bg: $secondary-color;

//primary button
@mixin primary-btn($color: $primary-color, $hover-color: $secondary-color, $border-color: $primary-color, $border-width: 0.125em) {
    background-color: $color;
    color: $secondary-color;
    font-family: "manrope", sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
    padding: 0.813em 1.563em;
    width: 10.063em;
    height: 3.813em;
    border: $border-width solid $border-color;

    &:hover {
        background-color: $hover-color;
        color: $primary-color; // Change the font color to $primary-color on hover
    }
}


// secondary button
@mixin secondary-btn($color: $color-white, $bg-color: $secondary-color, $border-bottom-color: $primary-color) {
    background-color: $bg-color;
    color: $color;
    font-family: "manrope", sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: left;
    line-height: 2rem;
    padding: 0px;
    width: 8.75em;
    height: 2.188em;
    letter-spacing: -0.011em;
    border: none;
    text-decoration: underline;
    text-decoration-color: $border-bottom-color;
    text-decoration-thickness: 0.188em;
    text-underline-offset: 0.375em;
    
    &:hover {
        color: $primary-color; // Change the font color to $primary-color on hover
    }
}

// header section starts here
.workit-header {
    background-color: $header-bg;
    height: 730px;
    min-height: 73vh;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 100% 15%;
    border-bottom-left-radius: 100% 15%;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10.334em;
    padding-top: 3.611em;
    padding-right: 10.334em;
}
.workit-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.workit-hero-title{
    color: $color-white;
    font-size: $heading-l-size;
    line-height: $heading-l-line-height;
    font-family: $font-family-heading;
    text-align: center;
    padding-top: 3.438rem;
    padding-bottom: 2.313rem;
}
.workit-hero-title span {
    text-decoration: underline;
    text-decoration-color: $primary-color;
}
.hero-img {
    max-width: 767px;
    height: auto;
    position: relative;
    top: 50px;
    left: 40px
}
// header section ends here

// workit details section
.workit-details-section {
    max-width: 100%;
    background-color: $light-gray;
    min-height: 96vh;
    border-bottom-right-radius: 100% 15%;
    border-bottom-left-radius: 100% 15%;
}
.workit-details-container {
    display: grid;
    grid-auto-flow: column;
    padding-top: 16rem;
    padding-left: 10.313rem;
    padding-right: 10.063rem;
    padding-bottom: 10.688rem;
    gap: 1.625rem;
}

.workit-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workit-detail-number{
    font-size: 1.5rem;
    text-align: center;
    border: .5px solid $dark-gray;
    color: $secondary-color;
    border-radius: 50%;
    line-height: 2.5rem;
    padding: 0.5rem 1.469rem;
    width: 3.5rem;
    height: 3.5rem;
}

.workit-detail-content {
    text-align: center;
    padding-top: 1.75rem;
    font-size: $base-font-size;
    font-family: $font-family-body;
    color: $secondary-color;
    text-align: center;
}
.workit-detail-title {
    text-align: center;
    padding-top: 3.5rem;
    font-size: $heading-s-size;
    line-height: $heading-s-line-height;
    font-family: $font-family-heading;
    color: $secondary-color
}
//workit details section end  

// workit founder section starts here
.workit-founder-section {
    display: flex;
    align-items: center;
    max-width: 1112px;
    min-height: 647.74px;
    margin-top: 6.875rem;
    margin-left: 10.188rem;
    margin-right: 10.313rem;
}

.workit-founder-img {
    width: 100%;
    height: auto;
    margin-bottom: 10.671rem;
}

.workit-founder-card {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    flex-direction: column;
    max-width: 730px;
    height: 413px;
    margin-left: -6rem;
    margin-bottom: 3.859rem;
    background-color: $secondary-color;
    padding: 4rem 2rem 4.063rem 4.063rem;
}

.workit-card-title {
    font-family: $font-family-heading;
    font-size: $heading-m-size;
    line-height: $heading-m-line-height;
    text-align: left;
    padding-bottom: 2rem;
    color: $color-white;
}

.workit-card-content{
    color: $color-white;
    text-align: left;
    font-family: $font-family-body;
    font-size: $body-font-size;
    line-height: $body-line-height;
    padding-bottom: 2.094rem;
}

.primary-card-btn {
    width: 11.875rem;
    height: 3.625rem;
    font-size: $body-font-size;
    font-family: $font-family-body;
    background-color: $primary-color;
    color: $secondary-color;
    font-weight: bold;
    text-align: center;
    border: 2px solid $primary-color;
    padding-top: 0.813rem;
    padding-bottom: 0.813rem;
    cursor: pointer;
}

.primary-card-btn:hover {
    background-color: $secondary-color;
    color: $primary-color;
}

.bg-img-small {
    position: relative;
    bottom: 80px;
    left: 375px;
}
//founder section ends here

//footer starts here
.workit-footer {
    max-width: 116px;
    // height: 102.22px;
    margin: 3.752rem 41.438rem 6.875rem 41.313rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    // align-items: center;
    // justify-content: center;
}

.footer-logo {
    padding-left: 0.647rem;
    padding-right: 0.618rem;
    padding-bottom: 3.601rem;
}

.footer-social-container {
    display: flex;
    justify-content: space-between;

}

.footer-social-img {
    display: block;
    max-width: 20px;
    height: 20px;
}

// .footer-social-img:hover {
//     background-color: $secondary-color;
// }

// .footer-social-img:hover {
//     color: $color-white;
// }

.primary-btn {
    @include primary-btn(); // Uses the default values from the mixin definition
}

.secondary-btn {
    @include secondary-btn(); // Uses the default values from the mixin definition
}

// media queries starting here
@media only screen and (max-width: 768px) {
    .workit-header {
        height: 33.765rem;
    }

    .workit-hero-title {
        font-size: 3.75rem;
    }
    
    .logo-container {
        padding-left: 2.438rem;
        padding-right: 2.5rem;
    }

    .bg-img {
        background-position: left -55% top 20%, right -15% bottom 30%;
        /* New positions for smaller screens */
    }

    .hero-img {
        width: 100%;
        max-width: 32.125rem;
        height: auto
    } 

    .workit-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .workit-detail {
        display: flex;
        flex-direction: row;
        width: 35.813rem;
        height: 6.75rem;
        margin-bottom: 3rem;
    }

    .workit-detail-number {
        font-size: 1rem;
        text-align: center;
        border: 1px solid $dark-gray;
        color: $secondary-color;
        border-radius: 50%;
        line-height: 2.25rem;
        margin-top: 2.813rem;
        padding: 0.313rem 1rem;
        margin-right: 2rem;
        width: 3rem;
        height: 2.75rem;
    }

    .workit-detail-title {
        font-size: 1.75rem;
        line-height: 2.25rem;
        text-align: left;
    }

    .workit-detail-content {
        font-size: 1rem;
        line-height: 1.75rem;
        text-align: left;
    }
}



// media queries end here
