*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.bg-img {
  background-image: url(./images/bg-pattern-1.svg), url(./images/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: left -15% top 30%, right -5% bottom 47%;
  width: 100%;
}

.workit-header {
  background-color: hsl(273, 85%, 13%);
  height: 730px;
  min-height: 73vh;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 100% 15%;
  border-bottom-left-radius: 100% 15%;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10.334em;
  padding-top: 3.611em;
  padding-right: 10.334em;
}

.workit-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.workit-hero-title {
  color: #fff;
  font-size: 5rem;
  line-height: 5rem;
  font-family: "Fraunces144", serif;
  text-align: center;
  padding-top: 3.438rem;
  padding-bottom: 2.313rem;
}

.workit-hero-title span {
  text-decoration: underline;
  text-decoration-color: hsl(150, 100%, 63%);
}

.hero-img {
  max-width: 767px;
  height: auto;
  position: relative;
  top: 50px;
  left: 40px;
}

.workit-details-section {
  max-width: 100%;
  background-color: #fcf8ff;
  min-height: 96vh;
  border-bottom-right-radius: 100% 15%;
  border-bottom-left-radius: 100% 15%;
}

.workit-details-container {
  display: grid;
  grid-auto-flow: column;
  padding-top: 16rem;
  padding-left: 10.313rem;
  padding-right: 10.063rem;
  padding-bottom: 10.688rem;
  gap: 1.625rem;
}

.workit-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workit-detail-number {
  font-size: 1.5rem;
  text-align: center;
  border: 0.5px solid #584062;
  color: hsl(273, 85%, 13%);
  border-radius: 50%;
  line-height: 2.5rem;
  padding: 0.5rem 1.469rem;
  width: 3.5rem;
  height: 3.5rem;
}

.workit-detail-content {
  text-align: center;
  padding-top: 1.75rem;
  font-size: 1.125rem;
  font-family: "Manrope", sans-serif;
  color: hsl(273, 85%, 13%);
  text-align: center;
}

.workit-detail-title {
  text-align: center;
  padding-top: 3.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Fraunces144", serif;
  color: hsl(273, 85%, 13%);
}

.workit-founder-section {
  display: flex;
  align-items: center;
  max-width: 1112px;
  min-height: 647.74px;
  margin-top: 6.875rem;
  margin-left: 10.188rem;
  margin-right: 10.313rem;
}

.workit-founder-img {
  width: 100%;
  height: auto;
  margin-bottom: 10.671rem;
}

.workit-founder-card {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  flex-direction: column;
  max-width: 730px;
  height: 413px;
  margin-left: -6rem;
  margin-bottom: 3.859rem;
  background-color: hsl(273, 85%, 13%);
  padding: 4rem 2rem 4.063rem 4.063rem;
}

.workit-card-title {
  font-family: "Fraunces144", serif;
  font-size: 3.5rem;
  line-height: 4rem;
  text-align: left;
  padding-bottom: 2rem;
  color: #fff;
}

.workit-card-content {
  color: #fff;
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  padding-bottom: 2.094rem;
}

.primary-card-btn {
  width: 11.875rem;
  height: 3.625rem;
  font-size: 1.125rem;
  font-family: "Manrope", sans-serif;
  background-color: hsl(150, 100%, 63%);
  color: hsl(273, 85%, 13%);
  font-weight: bold;
  text-align: center;
  border: 2px solid hsl(150, 100%, 63%);
  padding-top: 0.813rem;
  padding-bottom: 0.813rem;
  cursor: pointer;
}

.primary-card-btn:hover {
  background-color: hsl(273, 85%, 13%);
  color: hsl(150, 100%, 63%);
}

.bg-img-small {
  position: relative;
  bottom: 80px;
  left: 375px;
}

.workit-footer {
  max-width: 116px;
  margin: 3.752rem 41.438rem 6.875rem 41.313rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer-logo {
  padding-left: 0.647rem;
  padding-right: 0.618rem;
  padding-bottom: 3.601rem;
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
}

.footer-social-img {
  display: block;
  max-width: 20px;
  height: 20px;
}

.primary-btn {
  background-color: hsl(150, 100%, 63%);
  color: hsl(273, 85%, 13%);
  font-family: "manrope", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
  padding: 0.813em 1.563em;
  width: 10.063em;
  height: 3.813em;
  border: 0.125em solid hsl(150, 100%, 63%);
}
.primary-btn:hover {
  background-color: hsl(273, 85%, 13%);
  color: hsl(150, 100%, 63%);
}

.secondary-btn {
  background-color: hsl(273, 85%, 13%);
  color: #fff;
  font-family: "manrope", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
  line-height: 2rem;
  padding: 0px;
  width: 8.75em;
  height: 2.188em;
  letter-spacing: -0.011em;
  border: none;
  text-decoration: underline;
  text-decoration-color: hsl(150, 100%, 63%);
  text-decoration-thickness: 0.188em;
  text-underline-offset: 0.375em;
}
.secondary-btn:hover {
  color: hsl(150, 100%, 63%);
}

@media only screen and (max-width: 768px) {
  .workit-header {
    height: 33.765rem;
  }
  .workit-hero-title {
    font-size: 3.75rem;
  }
  .logo-container {
    padding-left: 2.438rem;
    padding-right: 2.5rem;
  }
  .header-btn {
    width: 7.75rem;
    height: 2.125rem;
    font-size: 1rem;
    border: none;
  }
  .bg-img {
    background-position: left -55% top 20%, right -15% bottom 30%;
  }
  .hero-img {
    width: 100%;
    max-width: 32.125rem;
    height: auto;
  }
  .workit-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .workit-detail {
    display: flex;
    flex-direction: column;
    width: 35.813rem;
    height: 6.75rem;
    margin-bottom: 3rem;
  }
  .workit-detail-number {
    font-size: 1rem;
    text-align: center;
    border: 1px solid #584062;
    color: hsl(273, 85%, 13%);
    border-radius: 50%;
    line-height: 2.25rem;
    margin-top: 2.813rem;
    padding: 0.313rem 1rem;
    margin-right: 2rem;
    margin-top: 0;
    width: 3rem;
    height: 2.75rem;
  }
  .workit-detail-title {
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-align: left;
  }
  .workit-detail-content {
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: left;
  }
}
@media only screen and (max-width: 375px) {
  .workit-header {
    height: 20rem;
  }
  .workit-hero-title {
    font-size: 3.125rem;
    line-height: 3.125rem;
  }
  .logo-container {
    padding-top: 2rem;
    padding-left: 1.019rem;
    padding-right: 1rem;
    margin-bottom: 4rem;
  }
  .header-btn {
    width: 7.75rem;
    height: 2.125rem;
    font-size: 1rem;
    padding: 0;
    line-height: 2rem;
  }
  .hero-btn {
    font-size: 1rem;
    padding: 0;
    line-height: 2rem;
    width: 8.313em;
    height: 3.438em;
  }
  .bg-img {
    background-position: left -1000% top 20%, right -85% bottom 30%;
  }
  .hero-img {
    width: 100%;
    max-width: 20rem;
    height: auto;
    position: relative;
    top: 100px;
    left: 15px;
  }
  .workit-details-section {
    height: auto;
    padding-top: 0;
  }
  .workit-details-container {
    display: flex;
    gap: 2.5rem;
    padding-top: 8rem;
    padding-bottom: 4.482rem;
  }
  .workit-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.438rem;
    height: 14.875rem;
    margin: 0;
    padding: 1.5 1.5rem 1.5rem 1.5rem;
  }
  .workit-detail-title {
    font-size: 1.75rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .workit-detail-content {
    text-align: center;
    padding: 0;
  }
  .workit-detail-number {
    font-size: 1rem;
    text-align: center;
    border: 1px solid #584062;
    color: hsl(273, 85%, 13%);
    border-radius: 50%;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
    padding: 0.313rem 1rem;
    margin: 0;
    width: 3rem;
  }
  .workit-founder-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6.393rem 2.938rem 0 2.938rem;
  }
  .workit-founder-img {
    width: 17.563rem;
    height: auto;
    margin-bottom: 0;
  }
  .workit-founder-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 21.438rem;
    height: 23.438rem;
    padding: 1rem 1.938rem 0 1.938rem;
    margin: -3.125rem 1rem 4.625rem 1rem;
  }
  .workit-card-title {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .workit-card-content {
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: center;
  }
  .founder-btn {
    width: 10.75rem;
    height: 3.438rem;
    font-size: 1rem;
    border: 2px solid hsl(150, 100%, 63%);
  }
  .bg-img-small {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
